/* Configuração do componente */
.component {
  border: 4px solid lime;
  display: flex;
  flex-direction: column; /* Posiciona os componentes verticalmente */
  width: 100%;
  max-width: 1400px;
  position: relative; /* Garante que elementos absolutos sejam posicionados em relação ao pai */
  margin: 0 auto;
}