.container {
  width: 100%;
  padding: 2rem 0;
}

.titlesContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.mainTitle {
  flex: 1;
  top: 20px !important;
  width: 500px !important;
  max-width: 50%;
  color: var(--text);
}

.secondaryTitle {
  flex: 1;
  max-width: 50%;
  color: var(--home-objectives-secondary-title-color);
}

.imageCardsContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
  padding: 1rem 0;
  left: 200px;
  width: calc(100% - 200px);
}

.imageCardsContainer::-webkit-scrollbar {
  display: none;
}

@media screen and (width < 1540) and (width >= 1280) {
  .imageCardsContainer {
    gap: 1rem;
    justify-content: center;
  } 

  .mainTitle {
    width: 450px !important;
    max-width: 50%;
    font-size: 1.5cap !important;
    line-height: 2cap;
  }

  .secondaryTitle {
    font-size: 1cap;
    max-width: 50%;
  }

  .imageCardsContainer {
    gap: 1rem;
    padding: 1rem 0;
    left: 200px;
    width: calc(100% - 200px);
  }
}