.container {
  width: calc(100% - 2rem);
  max-width: 1400px;
  margin: 0 auto;
}

.titulo {
  font-size: 3cap;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2%;
}

.buttonContainer {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
}

.subtexto {
  font-size: 2cap;
  text-align: center;
  margin-bottom: 5%;
}