/* Configuração do componente */
.component {
  display: flex;
  flex-direction: column; /* Posiciona os componentes verticalmente */
  width: 100%;
  height: 100vh;
  max-width: 1400px;
  position: relative; /* Garante que elementos absolutos sejam posicionados em relação ao pai */
  margin: 0 auto;
}

.titulo {
  position: absolute;
  width: 45%;
  top: 40%;
  font-size: 4cap;
}

.containerImagem {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: visible;
}

.frame {
  position: absolute;
  border: 3px solid var(--about-image-borders-color);
  width: 350px;
  height: 400px;
  top: 30%;
  left: 15%;
  border-radius: 20px;
  overflow: visible;
}

.imagem {
  position: absolute;
  width: 400px;
  height: auto;
  top: 25%;
  left: 0;
  border-radius: 20px;
}

.gradientA {
  position: absolute;
  width: 800px;
  height: 800px;
  top: -50px;
  right: -200px;
  background:
    linear-gradient(
      225deg,
      color-mix(in srgb, var(--gradient-circle-bg) 90%, transparent) 25%, 
      color-mix(in srgb, var(--gradient-circle-bg) 30%, transparent) 50%,
      color-mix(in srgb, var(--gradient-circle-bg) 0%, transparent) 80%);
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle(400px at 50% 50%);
  margin: 0 auto;
}
.gradientB {
  position: absolute;
  top: 32%;
  left: -12%;
  width: 300px;
  height: 300px;
  background:
    linear-gradient(
      225deg,
      color-mix(in srgb, var(--gradient-circle-bg) 90%, transparent) 25%, 
      color-mix(in srgb, var(--gradient-circle-bg) 30%, transparent) 50%,
      color-mix(in srgb, var(--gradient-circle-bg) 0%, transparent) 80%);
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle(120px at 50% 50%);
  margin: 0 auto;
}