.menucontainer {
  position: fixed;
  
  top: 1rem;
  left: 50%;
  width: calc(100% - 2rem);
  height: 100px;
  
  transform: translateX(-50%);
  max-width: 1400px;
  
  color: var(--text-menubar);
  background: linear-gradient(
    300deg,
    color-mix(in srgb, var(--bg-menucontainer-color-a) 50%, transparent) 10%,
    color-mix(in srgb, var(--bg-menucontainer-color-b) 50%, transparent) 100%
  );

  border-radius: 10px;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;  
  padding: 0 20px; /* Reduzi o padding lateral */
  gap: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.menucontainer.scrolled {
  top: 0.5rem;
}

.navWrapper {
  display: flex;
  align-items: flex-start; /* Alinha ao topo */
  gap: 1rem;
  position: relative;
  width: calc(100% - 270px);
  height: 70%;
}

.menubar {
  color: var(--text-menubar);
  width: 100%;
  padding: 0.5rem 1.5rem;
  background: color-mix(in srgb, var(--bg-menubar) 70%, transparent) 25%;

  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Isso ajuda a separar os elementos */
  height: 100%;
}

.themeSwitcher {
  margin-top: 0.5rem; /* Alinha visualmente com a nav */
}

.button {
  min-width: 150px;
  min-height: 40px;
  max-height: 2em;
  border: 2px solid var(--bg-menubar-button);
  color: var(--bg-menubar-button);
  border-radius: 9999px;
}

.button:hover {
  border: 2px solid var(--accent);
  color: var(--accent);
  cursor: pointer;
}

/* Estilos gerais */
.navItem, .sidebarItem {
  position: relative;
  padding: 0.5rem 0.5rem;
  color: var(--text-menubar);
  transition: all 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

/* Estado hover */
.navItem:hover, .sidebarItem:hover {
  color: var(--accent);
}

/* Item ativo */
.active {
  color: var(--accent) !important;
  font-weight: bold;
}

/* Menu mobile */
.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: green;/*var(--bg-menucontainer);*/
  z-index: 1000;
  transition: all 0.3s ease;
  transform: translateY(-100vw);
  opacity: 0;
  padding-top: 120px;
  margin-left: -78vw;
  margin-top: -5vh;
}

.sidebarContainer.open {
  transform: translateY(0);
  opacity: 1;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.sidebarItem {
  font-size: 1.5rem;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .menubar {
    width: calc(100% - 1rem);
    top: 0.5rem;
  }

  .navWrapper {
    display: inherit;
    visibility: inherit;
  }
}