/* Configuração do componente */
.component {
  display: flex;
  width: calc(100% - 2rem);
  max-width: 1400px;
  position: relative;
  min-height: 100vh;
  height: 100vh;
}

/* Classes comuns */
.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.titulo {
  position: absolute;
  width: 45%;
  top: 10%;
  font-size: 4cap;
}