.depoimentosTituloGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px; /* Espaçamento entre cards */
  padding: 20px;
}

.depoimentosTitulo {
  color: var(--home-testimonial-title-color);
}

.depoimentosSubtexto {
  color: var(--home-testimonial-subtitle-color);
}

.depoimentosGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
}