@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #1e40af;
  --background-color-a: #dddddd;
  --background-color-b: #ffffff;
  --accent: #ff0000;
  --text: #1f2937;
  --text-contour: #ffffff;
  --text-inverted: #ffffff;
  --text-menubar: #444444;
  --text-menubar-button: #dddddd;
  --logo-link-color: #191919;
  --shadow-color: #818181;
  --button-color: #969696;
  --button-background-color: #000000;
  --bg-menubar: #dddddd;
  --bg-menubar-button: #969696;
  --bg-menucontainer-color-a: #818181;
  --bg-menucontainer-color-b: #000000;
  --faded-circle-bg: #818181;
  --gradient-circle-bg: #818181;
  --home-card-title-font-color: #ffffff;
  --home-card-font-color: #ffffff;
  --home-card-bg-color: #949494;
  --home-card-borders-color: #ff0000;
  --home-card-icon-bg-color: #dddddd;
  --home-card-icon-color: #ff0000;
  --home-objectives-secondary-title-color: #444444;
  --home-imagecard-label-color: #1f2937;
  --home-imagecard-label-bg-color: #ffffff;
  --home-testimonial-picture-border-color: #ff0000;
  --home-testimonial-title-color: #818181;
  --home-testimonial-subtitle-color: #ffffff;
  --contact-bottom-gradient-color: #818181;
  --gallery-carousel-background-color: #818181;
  --gallery-carousel-border-color: #303030;
  --about-image-borders-color: #ff0000;
}
  

[data-theme="dark"] {
  --primary: #3b82f6;
  --secondary: #1e40af;
  --background-color-a: #1f2937;
  --background-color-b: #1a62c0;
  --accent: #f59e0b;
  --text: #ffffff;
  --text-contour: #818181;
  --text-inverted: #000000;
  --text-menubar: #dddddd;
  --text-menubar-button: #3f3f3f;
  --logo-link-color: #f9fafb;
  --shadow-color: #cccccc;
  --button-color: #dddddd;
  --button-background-color: #0d0d33;
  --bg-menubar: #222222;
  --bg-menubar-button: #dddddd;
  --bg-menucontainer-color-a: #4d4d4d;
  --bg-menucontainer-color-b: #0d0d33;
  --faded-circle-bg: #cfe5ff;
  --gradient-circle-bg: #cfe5ff;
  --home-card-title-font-color: #dddddd;
  --home-card-font-color: #f59e0b;
  --home-card-bg-color: #1f2937;
  --home-card-borders-color: #ffffff;
  --home-card-icon-bg-color: #818181;
  --home-card-icon-color: #ffffff;
  --home-objectives-secondary-title-color: #dddddd;
  --home-imagecard-label-color: #1f2937;
  --home-imagecard-label-bg-color: #ffffff;
  --home-testimonial-picture-border-color: #ff0000;
  --home-testimonial-title-color: #ffffff;
  --home-testimonial-subtitle-color: #000000;
  --contact-bottom-gradient-color: #53acff;
  --gallery-carousel-background-color: #ffffff;
  --gallery-carousel-border-color: #ffffff;
  --about-image-borders-color: #ff0000;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  color: var(--text);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: radial-gradient(
    circle at center,
    color-mix(in srgb, var(--background-color-b) 100%, transparent) 25%,
    color-mix(in srgb, var(--background-color-a) 100%, transparent) 100%
  );
  background-attachment: fixed;
  background-size: cover;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  font-family: "Open Sans", sans-serif;
}

/* Estilo para as seções */
section {
  display: flex;
  flex-direction: column; /* Colocar os filhos em uma coluna */
  justify-content: center; /* Centralizar o conteúdo verticalmente */
  align-items: center; /* Centralizar o conteúdo horizontalmente */
}

section > div {
  width: 100%;
}

.sombreado {
  text-shadow: 3px 3px 4px var(--shadow-color) !important;
}

.bordaTexto {
  text-shadow: 
    -1px -1px 1px var(--text-contour),  
    1px -1px 1px var(--text-contour),
    -1px  1px 1px var(--text-contour),
    1px  1px 1px var(--text-contour);
}

.tituloPrincipal {
  font-size: 4cap !important;
}

.subtituloPrincipal {
  line-height: 2cap !important;
  font-size: 2cap !important;
}

.fotoMulherContainer {}

.fotoMulher {}

.tituloComponente {
  line-height: 1.7cap !important;
  font-size: 2cap !important;
}

.subtituloComponente {
  line-height: 1.7cap !important;
  font-size: 1.5cap !important;
}

/* Overrides para card pequeno */
.cardPequeno {
  min-width: 250px !important;
  max-width: 300px !important;
  height: auto !important;
}

.iconeCardPequeno {
  width: 50px !important;
  height: 50px !important;
  border-radius: 10px !important;
}

.iconeCardPequeno > object {
  width: 32px !important;
  height: 32px !important;
}

.tituloCardPequeno {
  font-weight: bold !important;
  margin: 0.5rem 0 !important;
  font-size: 1.1rem !important;
}    

.textoCardPequeno {
  font-size: 0.9rem !important;
  line-height: 1.4 !important;
}  

.painelVantagens {
  width: 100% !important;
  padding: 2rem 0 !important;
}

.painelVantagensCardsContainer {
  width: 100% !important;
  gap: 1.5rem !important;
  padding: 1rem 0 !important;
}

.painelObjetivosTituloContainer {}

.painelObjetivosImageCardsContainer {
  gap: 1.5rem !important;
  padding: 1rem 0 !important;
  left: 200px !important;
  width: calc(100% - 200px) !important;
}

/* Overrides para card maior */
.card {
  
}

.iconeCard {
  
}

.tituloCard {
  font-size: 1cap;
  font-weight: bold;
}

.textoCard {

}

.iconeCard {

}

/* Overrides para card com imagem */
.imageCard {
  border-radius: 10px !important;
  min-width: 200px !important;
  max-width: 200px !important;
  height: 100% !important;
}

.imagemImageCard {
  width: 200px !important;
  height: 200px !important;
}

.textoImageCard {
  font-size: 1.1rem !important;
}

/* Overrides para imagem com frame parcial */
.imagemComFrameParcialContainer {
  width: 200px !important;
}

.imagemComFrameParcialImagem {
  border-radius: 20px !important;
  left: -20px !important;
}

/* Overrides para áreas da página */
/* ------------------------------- HOME ------------------------------- */
.painelVantagem .tituloComponente {
  display: block !important;
}
.painelVantagem .tituloComponente span {
  line-height: 1.7cap !important;
}

.painelVantagemCardsContainer {
  
}
.painelFeedbackTituloGrid{
  
}
.painelFeedbackGridDepoimentos{
  gap: 20px; /* Espaçamento entre cards */
  padding: 20px;
}
.cardDepoimentoContainer {
  grid-template-columns: auto 1fr !important; /* Alinhar imagem e conteúdo lado a lado */
  gap: 20px !important;
  border-radius: 12px !important;
  padding: 20px !important;
}
.cardDepoimentoImagem {}
.cardDepoimentoTextoContainer {
  border-radius: 10px !important;
  padding: 10px !important;
}
.cardDepoimentoTitulo {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}
.cardDepoimentoTexto {
  font-size: 0.95rem !important;
  line-height: 1.5 !important;
}
.fotoTurmaContainer {
  width: calc(100% - 2rem) !important;
  height: 700px !important;
}
.fotoTurmaImagem {
  top: -600px !important;
}
/* ------------------------------ SOBRE ------------------------------- */
.painelSobreContainerImagem{
  width: 50% !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
}
.painelSobreImagem {
  width: 400px !important;
  height: auto !important;
  top: 25% !important;
  left: 0 !important;
  border-radius: 20px !important;
}
.painelSobreImagemFrame {
  width: 350px !important;
  height: 400px !important;
  top: 30% !important;
  left: 15% !important;
  border-radius: 20px !important;
}

.painelFilosofia .tituloPrincipal {
  font-size: 3.5cap !important;
  line-height: 1.4cap !important;
}
.painelFilosofia div {
  font-size: 1.55cap !important;
  line-height: 1.4cap !important;
}
.painelFilosofia .painelFilosofiaTexto{
  top: 40px !important;
  width: 50% !important;
  right: 10% !important;
  font-size: 1.55cap !important;
  line-height: 1.6cap !important;
}
.painelFilosofia .painelFilosofiaContainerImagem {
  width: 50% !important;
  height: 100% !important;
  top: 0 !important;
}
.painelFilosofia .painelFilosofiaImagemFrame {
  width: 400px !important;
  height: 300px !important;
  top: 30% !important;
  left: 5% !important;
  border-radius: 20px !important;  
}
.painelFilosofia .painelFilosofiaImagem {
  width: 400px !important;
  height: auto !important;
  top: 25% !important;
  left: 0 !important;
  border-radius: 20px !important;
}




.painelHistoria .tituloPrincipal {
  font-size: 3.5cap !important;
  line-height: 1.4cap !important;
}

.painelHistoria div {
  font-size: 1.55cap !important;
  line-height: 1.4cap !important;
}

.painelHistoria .painelHistoriaTexto{
  top: 40px !important;
  width: 50% !important;
  right: 10% !important;
  font-size: 1.55cap !important;
  line-height: 1.6cap !important;
}
.painelHistoria .painelHistoriaContainerImagem {
  width: 400px !important;
  height: auto !important;
  top: 25% !important;
  left: 0 !important;
  border-radius: 20px !important;
}
.painelHistoria .painelHistoriaImagemFrame {
  width: 400px !important;
  height: 300px !important;
  margin-top: 30px !important;
  margin-left: 10px !important;
  top: 30% !important;
  left: 5% !important;
  border-radius: 20px !important;
}
.painelHistoria .painelHistoriaImagem {
  width: 400px !important;
  height: auto !important;
  top: 25% !important;
  left: 0 !important;
  border-radius: 20px !important;
}

.painelNecessidadesTitulo {
  top: 20px !important;
  width: 100% !important;
  font-size: 2cap !important;
}

.painelNecessidadesCardsContainer {
  gap: 1rem !important;
  width: 100% !important;
  padding: 1rem 0 !important;
  padding-top: 120px !important;
}
.painelNecessidadesCardsContainer > div {
  min-width: 150px !important;
  max-width: 195px !important;
}


.painelMetas {
  margin: 0 auto !important;
  height: 85vh !important;
  margin-bottom: 10vh !important;
}
.painelMetas .tituloComponente {
  font-size: 3.5cap !important;
  line-height: 1.4cap !important;
}
.painelMetas div {
  font-size: 1.55cap !important;
  line-height: 1.4cap !important;
}
.painelMetas .painelMetasTexto{
  font-size: 1.55cap !important;
  line-height: 1.6cap !important;
}
.painelMetas .painelMetasContainerImagem {
  width: 50% !important;
  height: 100% !important;
  top: 0 !important;
}
.painelMetas .painelMetasImagemFrame {
  width: 400px !important;
  height: 530px !important;
  top: 30% !important;
  left: 5% !important;
  border-radius: 20px !important;
}
.painelMetas .painelMetasImagem {
  width: 400px !important;
  height: auto !important;
  top: 25% !important;
  left: 0 !important;
  border-radius: 20px !important;
}

.painelLivrosIntro {
  height: 100vh !important;
}
.painelLivrosIntroContainerImagem {
  width: 50% !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
}
.painelLivrosIntroImagemFrame {
  width: 600px !important;
  height: 345px !important;
  top: 30% !important;
  left: 10% !important;
  border-radius: 20px !important;
}
.painelLivrosIntroImagem {
  width: 600px !important;
  height: auto !important;
  top: 25% !important;
  left: 5% !important;
  border-radius: 20px !important;
}

.painelLivrosBloco1 {
  width: 100% !important;
  height: 60vh !important;
  margin-bottom: 5vh !important;
}
.painelLivrosBloco1 div {
  font-size: 1.55cap !important;
  line-height: 1.4cap !important;
}
.painelLivrosBloco1 .painelLivrosBloco1Texto {
  top: 4cap !important;
  right: 10% !important;
  width: 50% !important;
  font-size: 1.55cap !important;
  line-height: 2cap !important;
}
.painelLivrosBloco1 .painelLivrosBloco1ContainerImagem {
  width: 50% !important;
  height: 100% !important;
  top: 5% !important;
}
.painelLivrosBloco1 .painelLivrosBloco1ImagemFrame {
  width: 300px !important;
  height: 400px !important;
  top: 10% !important;
  left: 15% !important;
  border-radius: 20px !important;
}
.painelLivrosBloco1 .painelLivrosBloco1Imagem {
  width: 300px !important;
  height: auto !important;
  top: 5% !important;
  left: 10% !important;
  border-radius: 20px !important;
}


.painelLivrosBloco2 {
  width: 100% !important;
  height: 85vh !important;
  margin-bottom: 10vh !important;
}
.painelLivrosBloco2 div {
  font-size: 1.55cap !important;
  line-height: 1.4cap !important;
}
.painelLivrosBloco2 .painelLivrosBloco2Texto {
  top: 2cap !important;
  right: 10% !important;
  width: 50% !important;
  font-size: 1.55cap !important;
  line-height: 2cap !important;
}
.painelLivrosBloco2 .painelLivrosBloco2ContainerImagem {
  width: 50% !important;
  height: 100% !important;
  top: 10% !important;
}
.painelLivrosBloco2 .painelLivrosBloco2ImagemFrame {
  width: 400px !important;
  height: 400px !important;
  top: 20% !important;
  left: 5% !important;
  border-radius: 20px !important;
}
.painelLivrosBloco2 .painelLivrosBloco2Imagem {
  width: 400px !important;
  height: auto !important;
  top: 15% !important;
  left: 0 !important;
  border-radius: 20px !important;
}

.painelGaleria {
  width: calc(100% - 2rem) !important;
  min-height: 100vh !important;
  height: 100vh !important;
}

.painelGaleria .gradient-esferaPequena {
  top: -20px !important;
}

.painelGaleriaTitulo {
  width: 45% !important;
  top: 10% !important;
  font-size: 4cap !important;
}
.painelGaleriaCarrosselWrapper {
  top: 30% !important;
  width: 100% !important;
  height: 480px !important;
  padding-left: 2% !important;
  padding-right: 2% !important;
  border-radius: 20px !important;
}


/* -------------------------------------------------------------------- */
/* Fundos compartilhados */
.gradient-left {
  width: calc(100% - 3rem);
  min-height: 100%;
  border-top-right-radius: 150px;
  background:
  linear-gradient(
    270deg,
    color-mix(in srgb, var(--gradient-circle-bg) 100%, transparent) 20%, 
    color-mix(in srgb, var(--gradient-circle-bg) 30%, transparent) 50%,
    color-mix(in srgb, var(--gradient-circle-bg) 0%, transparent) 80%
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2cap;
  padding: 2cap;
}

.gradient-right {
  width: calc(100% - 3rem);
  min-height: 100%;
  position: relative;
  border-top-left-radius: 150px;
  font-size: 2cap;
  padding: 2cap;
  z-index: 1;
}

.gradient-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  border-top-left-radius: 150px;
  background: linear-gradient(
    90deg,
    color-mix(in srgb, var(--gradient-circle-bg) 100%, transparent) 20%, 
    color-mix(in srgb, var(--gradient-circle-bg) 30%, transparent) 50%,
    color-mix(in srgb, var(--gradient-circle-bg) 0%, transparent) 80%
  );
  z-index: -1; /* Coloca o fundo atrás do conteúdo */
}

.gradient-topdown {
  width: 700px;
  height: 700px;
  background:
  linear-gradient(
    180deg,
    color-mix(in srgb, var(--gradient-circle-bg) 90%, transparent) 25%, 
    color-mix(in srgb, var(--gradient-circle-bg) 30%, transparent) 50%,
    color-mix(in srgb, var(--gradient-circle-bg) 0%, transparent) 80%
  );
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle(calc(350px) at 50% calc(50% + 70px));
  margin: 0 auto;
}

.gradient-esferaGrande{
  position: absolute;
  width: 800px;
  height: 800px;
  top: -50px;
  right: -200px;
  background:
    linear-gradient(
      225deg,
      color-mix(in srgb, var(--gradient-circle-bg) 90%, transparent) 25%, 
      color-mix(in srgb, var(--gradient-circle-bg) 30%, transparent) 50%,
      color-mix(in srgb, var(--gradient-circle-bg) 0%, transparent) 80%);
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle(400px at 50% 50%);
  margin: 0 auto;
}

.gradient-esferaPequena{
  position: absolute;
  top: 32%;
  left: -12%;
  width: 300px;
  height: 300px;
  background:
    linear-gradient(
      225deg,
      color-mix(in srgb, var(--gradient-circle-bg) 90%, transparent) 25%, 
      color-mix(in srgb, var(--gradient-circle-bg) 30%, transparent) 50%,
      color-mix(in srgb, var(--gradient-circle-bg) 0%, transparent) 80%);
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle(120px at 50% 50%);
  margin: 0 auto;
}

/* Responsividade */
@media screen and (width <= 1540) and (width > 1440) {
  .tituloComponente {
    line-height: 1.7cap !important;
    font-size: 2cap !important;
  }

  .subtituloComponente {
    line-height: 1.7cap !important;
    font-size: 1.3cap !important;
  }

  /* Overrides para card pequeno */
  .cardPequeno {
    min-width: 180px !important;
    max-width: 200px !important;
    height: auto !important;
  }

  .painelObjetivosImageCardsContainer {
    gap: 1rem !important;
    padding: 1rem 0 !important;
    left: 200px !important;
    width: calc(100% - 200px) !important;
  }

  .tituloCard {
    font-size: 1cap;
    font-weight: bold;
  }

  /* Overrides para card com imagem */
  .imageCard {
    border-radius: 10px !important;
    min-width: 165px !important;
    max-width: 165px !important;
    height: 100% !important;
  }

  .imagemImageCard {
    width: 165px !important;
    height: 165px !important;
  }

  .textoImageCard {
    font-size: .9rem !important;
  }

  /* Overrides para áreas da página */
  /* ------------------------------- HOME ------------------------------- */
  .painelVantagem .tituloComponente {
    display: block !important;
  }
  .painelVantagem .tituloComponente span {
    line-height: 1.7cap !important;
  }
  .painelFeedbackGridDepoimentos{
    gap: 20px; /* Espaçamento entre cards */
    padding: 20px;
  }
  .cardDepoimentoContainer {
    grid-template-columns: auto 1fr !important; /* Alinhar imagem e conteúdo lado a lado */
    gap: 20px !important;
    border-radius: 12px !important;
    padding: 20px !important;
  }
  .cardDepoimentoTextoContainer {
    border-radius: 10px !important;
    padding: 10px !important;
  }
  .cardDepoimentoTitulo {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
  }
  .cardDepoimentoTexto {
    font-size: 0.95rem !important;
    line-height: 1.5 !important;
  }
  .fotoTurmaContainer {
    width: calc(100% - 2rem) !important;
    height: 700px !important;
  }
  .fotoTurmaImagem {
    top: -600px !important;
  }
  .painelSobreContainerImagem{
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
  }
  .painelSobreImagem {
    width: 400px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }
  .painelSobreImagemFrame {
    width: 350px !important;
    height: 400px !important;
    top: 30% !important;
    left: 15% !important;
    border-radius: 20px !important;
  }

  .painelFilosofia .tituloPrincipal {
    font-size: 3.5cap !important;
    line-height: 1.4cap !important;
  }
  .painelFilosofia div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelFilosofia .painelFilosofiaTexto{
    top: 40px !important;
    width: 50% !important;
    right: 10% !important;
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelFilosofia .painelFilosofiaContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
  }
  .painelFilosofia .painelFilosofiaImagemFrame {
    width: 400px !important;
    height: 300px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;  
  }
  .painelFilosofia .painelFilosofiaImagem {
    width: 400px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelHistoria .tituloPrincipal {
    font-size: 3.5cap !important;
    line-height: 1.4cap !important;
  }

  .painelHistoria div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }

  .painelHistoria .painelHistoriaTexto{
    top: 40px !important;
    width: 50% !important;
    right: 10% !important;
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelHistoria .painelHistoriaContainerImagem {
    width: 400px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }
  .painelHistoria .painelHistoriaImagemFrame {
    width: 400px !important;
    height: 300px !important;
    margin-top: 30px !important;
    margin-left: 10px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelHistoria .painelHistoriaImagem {
    width: 400px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelNecessidadesTitulo {
    top: 20px !important;
    width: 100% !important;
    font-size: 2cap !important;
  }

  .painelNecessidadesCardsContainer {
    gap: 1rem !important;
    width: 100% !important;
    padding: 1rem 0 !important;
    padding-top: 120px !important;
  }
  .painelNecessidadesCardsContainer > div {
    min-width: 150px !important;
    max-width: 165px !important;
  }


  .painelMetas {
    margin: 0 auto !important;
    height: 85vh !important;
    margin-bottom: 10vh !important;
  }
  .painelMetas .tituloComponente {
    font-size: 3.5cap !important;
    line-height: 1.4cap !important;
  }
  .painelMetas div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelMetas .painelMetasTexto{
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelMetas .painelMetasContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
  }
  .painelMetas .painelMetasImagemFrame {
    width: 400px !important;
    height: 530px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelMetas .painelMetasImagem {
    width: 400px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelLivrosIntro {
    height: 100vh !important;
  }
  .painelLivrosIntroContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
  }
  .painelLivrosIntroImagemFrame {
    width: 600px !important;
    height: 345px !important;
    top: 30% !important;
    left: 10% !important;
    border-radius: 20px !important;
  }
  .painelLivrosIntroImagem {
    width: 600px !important;
    height: auto !important;
    top: 25% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }

  .painelLivrosBloco1 {
    width: 100% !important;
    height: 60vh !important;
    margin-bottom: 5vh !important;
  }
  .painelLivrosBloco1 div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1Texto {
    top: 4cap !important;
    right: 10% !important;
    width: 50% !important;
    font-size: 1.55cap !important;
    line-height: 2cap !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1ContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 5% !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1ImagemFrame {
    width: 300px !important;
    height: 400px !important;
    top: 10% !important;
    left: 15% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1Imagem {
    width: 300px !important;
    height: auto !important;
    top: 5% !important;
    left: 10% !important;
    border-radius: 20px !important;
  }


  .painelLivrosBloco2 {
    width: 100% !important;
    height: 85vh !important;
    margin-bottom: 10vh !important;
  }
  .painelLivrosBloco2 div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2Texto {
    top: 2cap !important;
    right: 7% !important;
    width: 50% !important;
    font-size: 1.55cap !important;
    line-height: 2cap !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2ContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 10% !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2ImagemFrame {
    width: 350px !important;
    height: 350px !important;
    top: 18% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2Imagem {
    width: 350px !important;
    height: auto !important;
    top: 15% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelGaleria {
    width: calc(100% - 2rem) !important;
    min-height: 100vh !important;
    height: 100vh !important;
  }

  .painelGaleria .gradient-esferaPequena {
    top: -20px !important;
  }

  .painelGaleriaTitulo {
    width: 45% !important;
    top: 10% !important;
    font-size: 4cap !important;
  }
  .painelGaleriaCarrosselWrapper {
    top: 30% !important;
    width: 100% !important;
    height: 480px !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    border-radius: 20px !important;
  }
}


@media screen and (width <= 1440) and (width > 1366) {
  .tituloComponente {
    line-height: 1.7cap !important;
    font-size: 2cap !important;
  }

  .subtituloComponente {
    line-height: 1.7cap !important;
    font-size: 1.3cap !important;
  }

  /* Overrides para card pequeno */
  .cardPequeno {
    min-width: 180px !important;
    max-width: 200px !important;
    height: auto !important;
  }

  .painelObjetivosImageCardsContainer {
    gap: 1rem !important;
    padding: 1rem 0 !important;
    left: 200px !important;
    width: calc(100% - 200px) !important;
  }

  .tituloCard {
    font-size: 1cap;
    font-weight: bold;
  }

  /* Overrides para card com imagem */
  .imageCard {
    border-radius: 10px !important;
    min-width: 165px !important;
    max-width: 165px !important;
    height: 100% !important;
  }

  .imagemImageCard {
    width: 165px !important;
    height: 165px !important;
  }

  .textoImageCard {
    font-size: .9rem !important;
  }

  /* Overrides para áreas da página */
  /* ------------------------------- HOME ------------------------------- */
  .painelVantagem .tituloComponente {
    display: block !important;
  }
  .painelVantagem .tituloComponente span {
    line-height: 1.7cap !important;
  }
  .painelFeedbackGridDepoimentos{
    gap: 20px; /* Espaçamento entre cards */
    padding: 20px;
  }
  .cardDepoimentoContainer {
    grid-template-columns: auto 1fr !important; /* Alinhar imagem e conteúdo lado a lado */
    gap: 20px !important;
    border-radius: 12px !important;
    padding: 20px !important;
  }
  .cardDepoimentoTextoContainer {
    border-radius: 10px !important;
    padding: 10px !important;
  }
  .cardDepoimentoTitulo {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
  }
  .cardDepoimentoTexto {
    font-size: 0.95rem !important;
    line-height: 1.5 !important;
  }
  .fotoTurmaContainer {
    width: calc(100% - 2rem) !important;
    height: 700px !important;
  }
  .fotoTurmaImagem {
    top: -600px !important;
  }
  .painelSobreContainerImagem{
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
  }
  .painelSobreImagem {
    width: 400px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }
  .painelSobreImagemFrame {
    width: 350px !important;
    height: 400px !important;
    top: 30% !important;
    left: 15% !important;
    border-radius: 20px !important;
  }

  .painelFilosofia .tituloPrincipal {
    font-size: 3cap !important;
    line-height: 1.4cap !important;
  }
  .painelFilosofia div {
    font-size: 1.45cap !important;
    line-height: 1.4cap !important;
  }
  .painelFilosofia .painelFilosofiaTexto{
    top: 70px !important;
    width: 50% !important;
    right: 10% !important;
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelFilosofia .painelFilosofiaContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    left: 5% !important;
  }
  .painelFilosofia .painelFilosofiaImagemFrame {
    width: 350px !important;
    height: 263px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;  
  }
  .painelFilosofia .painelFilosofiaImagem {
    width: 350px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelHistoria .tituloPrincipal {
    font-size: 3cap !important;
    line-height: 1.4cap !important;
  }

  .painelHistoria div {
    font-size: 1.45cap !important;
    line-height: 1.4cap !important;
  }

  .painelHistoria .painelHistoriaTexto{
    top: 50px !important;
    width: 50% !important;
    right: 5% !important;
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelHistoria .painelHistoriaContainerImagem {
    width: 350px !important;
    height: auto !important;
    top: 25% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelHistoria .painelHistoriaImagemFrame {
    width: 350px !important;
    height: 263px !important;
    margin-top: 30px !important;
    margin-left: 10px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelHistoria .painelHistoriaImagem {
    width: 350px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelNecessidadesTitulo {
    top: 20px !important;
    width: 100% !important;
    font-size: 2cap !important;
  }

  .painelNecessidadesCardsContainer {
    gap: 1rem !important;
    width: 100% !important;
    padding: 1rem 0 !important;
    padding-top: 120px !important;
  }
  .painelNecessidadesCardsContainer > div {
    min-width: 150px !important;
    max-width: 165px !important;
  }


  .painelMetas {
    margin: 0 auto !important;
    height: 85vh !important;
    margin-bottom: 10vh !important;
  }
  .painelMetas .tituloComponente {
    font-size: 3.5cap !important;
    line-height: 1.4cap !important;
  }
  .painelMetas div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelMetas .painelMetasTexto{
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelMetas .painelMetasContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
  }
  .painelMetas .painelMetasImagemFrame {
    width: 400px !important;
    height: 530px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelMetas .painelMetasImagem {
    width: 400px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelLivrosIntro {
    height: 100vh !important;
  }
  .painelLivrosIntroContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
  }
  .painelLivrosIntroImagemFrame {
    width: 600px !important;
    height: 345px !important;
    top: 30% !important;
    left: 10% !important;
    border-radius: 20px !important;
  }
  .painelLivrosIntroImagem {
    width: 600px !important;
    height: auto !important;
    top: 25% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }

  .painelLivrosBloco1 {
    width: 100% !important;
    height: 60vh !important;
    margin-bottom: 5vh !important;
  }
  .painelLivrosBloco1 div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1Texto {
    top: 4cap !important;
    right: 10% !important;
    width: 50% !important;
    font-size: 1.45cap !important;
    line-height: 2cap !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1ContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 5% !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1ImagemFrame {
    width: 300px !important;
    height: 400px !important;
    top: 10% !important;
    left: 15% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1Imagem {
    width: 300px !important;
    height: auto !important;
    top: 5% !important;
    left: 10% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco2 {
    width: 100% !important;
    height: 80vh !important;
    margin-bottom: 10vh !important;
  }
  .painelLivrosBloco2 div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2Texto {
    top: 2cap !important;
    right: 7% !important;
    width: 50% !important;
    font-size: 1.45cap !important;
    line-height: 2cap !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2ContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 10% !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2ImagemFrame {
    width: 350px !important;
    height: 350px !important;
    top: 18% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2Imagem {
    width: 350px !important;
    height: auto !important;
    top: 15% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelGaleria {
    width: calc(100% - 2rem) !important;
    min-height: 100vh !important;
    height: 100vh !important;
  }

  .painelGaleria .gradient-esferaPequena {
    top: -20px !important;
  }

  .painelGaleriaTitulo {
    width: 45% !important;
    top: 10% !important;
    font-size: 4cap !important;
  }
  .painelGaleriaCarrosselWrapper {
    top: 30% !important;
    width: 100% !important;
    height: 480px !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    border-radius: 20px !important;
  }
}



@media screen and (width <= 1366) and (width > 1280) {
  .tituloComponente {
    line-height: 1.7cap !important;
    font-size: 2cap !important;
  }

  .subtituloComponente {
    line-height: 1.7cap !important;
    font-size: 1.3cap !important;
  }

  /* Overrides para card pequeno */
  .cardPequeno {
    min-width: 180px !important;
    max-width: 200px !important;
    height: auto !important;
  }

  .painelObjetivosImageCardsContainer {
    gap: 1rem !important;
    padding: 1rem 0 !important;
    left: 200px !important;
    width: calc(100% - 200px) !important;
  }

  .tituloCard {
    font-size: 1cap;
    font-weight: bold;
  }

  /* Overrides para card com imagem */
  .imageCard {
    border-radius: 10px !important;
    min-width: 165px !important;
    max-width: 165px !important;
    height: 100% !important;
  }

  .imagemImageCard {
    width: 165px !important;
    height: 165px !important;
  }

  .textoImageCard {
    font-size: .9rem !important;
  }

  /* Overrides para áreas da página */
  /* ------------------------------- HOME ------------------------------- */
  .painelVantagem .tituloComponente {
    display: block !important;
  }
  .painelVantagem .tituloComponente span {
    line-height: 1.7cap !important;
  }
  .painelFeedbackGridDepoimentos{
    gap: 20px; /* Espaçamento entre cards */
    padding: 20px;
  }
  .cardDepoimentoContainer {
    grid-template-columns: auto 1fr !important; /* Alinhar imagem e conteúdo lado a lado */
    gap: 20px !important;
    border-radius: 12px !important;
    padding: 20px !important;
  }
  .cardDepoimentoTextoContainer {
    border-radius: 10px !important;
    padding: 10px !important;
  }
  .cardDepoimentoTitulo {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
  }
  .cardDepoimentoTexto {
    font-size: 0.95rem !important;
    line-height: 1.5 !important;
  }
  .fotoTurmaContainer {
    width: calc(100% - 2rem) !important;
    height: 700px !important;
  }
  .fotoTurmaImagem {
    top: -600px !important;
  }
  .painelSobreContainerImagem{
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
  }
  .painelSobreImagem {
    width: 400px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }
  .painelSobreImagemFrame {
    width: 350px !important;
    height: 400px !important;
    top: 30% !important;
    left: 15% !important;
    border-radius: 20px !important;
  }

  .painelFilosofia .tituloPrincipal {
    font-size: 3cap !important;
    line-height: 1.4cap !important;
  }
  .painelFilosofia div {
    font-size: 1.45cap !important;
    line-height: 1.4cap !important;
  }
  .painelFilosofia .painelFilosofiaTexto{
    top: 20px !important;
    width: 50% !important;
    right: 10% !important;
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelFilosofia .painelFilosofiaContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    left: 5% !important;
  }
  .painelFilosofia .painelFilosofiaImagemFrame {
    width: 350px !important;
    height: 263px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;  
  }
  .painelFilosofia .painelFilosofiaImagem {
    width: 350px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelHistoria .tituloPrincipal {
    font-size: 3cap !important;
    line-height: 1.4cap !important;
  }
  .painelHistoria div {
    font-size: 1.45cap !important;
    line-height: 1.4cap !important;
  }
  .painelHistoria .painelHistoriaTexto{
    top: 10px !important;
    width: 50% !important;
    right: 5% !important;
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelHistoria .painelHistoriaContainerImagem {
    width: 350px !important;
    height: auto !important;
    top: 25% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelHistoria .painelHistoriaImagemFrame {
    width: 350px !important;
    height: 263px !important;
    margin-top: 30px !important;
    margin-left: 10px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelHistoria .painelHistoriaImagem {
    width: 350px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelNecessidadesTitulo {
    top: 20px !important;
    width: 100% !important;
    font-size: 2cap !important;
  }

  .painelNecessidadesCardsContainer {
    gap: 1rem !important;
    width: 100% !important;
    padding: 1rem 0 !important;
    padding-top: 120px !important;
  }
  .painelNecessidadesCardsContainer > div {
    min-width: 150px !important;
    max-width: 165px !important;
  }


  .painelMetas {
    margin: 0 auto !important;
    height: 85vh !important;
    margin-bottom: 10vh !important;
  }
  .painelMetas .tituloComponente {
    font-size: 3cap !important;
    line-height: 1.4cap !important;
  }
  .painelMetas div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelMetas .painelMetasTexto{
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelMetas .painelMetasContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    left: 10% !important;
  }
  .painelMetas .painelMetasImagemFrame {
    width: 300 !important;
    height: 400px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelMetas .painelMetasImagem {
    width: 300px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelLivrosIntro {
    height: 100vh !important;
  }
  .painelLivrosIntroContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
  }
  .painelLivrosIntroImagemFrame {
    width: 600px !important;
    height: 345px !important;
    top: 30% !important;
    left: 10% !important;
    border-radius: 20px !important;
  }
  .painelLivrosIntroImagem {
    width: 600px !important;
    height: auto !important;
    top: 25% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }

  .painelLivrosBloco1 {
    width: 100% !important;
    height: 60vh !important;
    margin-bottom: 5vh !important;
  }
  .painelLivrosBloco1 div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1Texto {
    top: 1cap !important;
    right: 10% !important;
    width: 50% !important;
    font-size: 1.45cap !important;
    line-height: 2cap !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1ContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 5% !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1ImagemFrame {
    width: 250px !important;
    height: 333px !important;
    top: 10% !important;
    left: 15% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1Imagem {
    width: 250px !important;
    height: auto !important;
    top: 5% !important;
    left: 10% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco2 {
    width: 100% !important;
    height: 90vh !important;
    margin-bottom: 10vh !important;
  }
  .painelLivrosBloco2 div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2Texto {
    top: 2cap !important;
    right: 7% !important;
    width: 50% !important;
    font-size: 1.45cap !important;
    line-height: 2cap !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2ContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 10% !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2ImagemFrame {
    width: 300px !important;
    height: 300px !important;
    top: 18% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2Imagem {
    width: 300px !important;
    height: auto !important;
    top: 15% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelGaleria {
    width: calc(100% - 2rem) !important;
    min-height: 100vh !important;
    height: 100vh !important;
  }

  .painelGaleria .gradient-esferaPequena {
    top: -20px !important;
  }

  .painelGaleriaTitulo {
    width: 45% !important;
    top: 10% !important;
    font-size: 4cap !important;
  }
  .painelGaleriaCarrosselWrapper {
    top: 30% !important;
    width: 100% !important;
    height: 480px !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    border-radius: 20px !important;
  }

  .painelContatosDados
  {
    min-height: 20vh !important;
  }
}


@media screen and (width <= 1280) and (width > 800) {
  .tituloComponente {
    line-height: 1.7cap !important;
    font-size: 2cap !important;
  }

  .subtituloComponente {
    line-height: 1.7cap !important;
    font-size: 1.3cap !important;
  }

  /* Overrides para card pequeno */
  .cardPequeno {
    min-width: 150px !important;
    max-width: 195px !important;
    height: auto !important;
  }

  .painelObjetivosImageCardsContainer {
    gap: 1rem !important;
    padding: 1rem 0 !important;
    left: 200px !important;
    width: calc(100% - 200px) !important;
  }

  .tituloCard {
    font-size: 1cap;
    font-weight: bold;
  }

  /* Overrides para card com imagem */
  .imageCard {
    border-radius: 10px !important;
    min-width: 165px !important;
    max-width: 165px !important;
    height: 100% !important;
  }

  .imagemImageCard {
    width: 165px !important;
    height: 165px !important;
  }

  .textoImageCard {
    font-size: .9rem !important;
  }

  /* Overrides para áreas da página */
  /* ------------------------------- HOME ------------------------------- */
  .painelVantagem .tituloComponente {
    display: block !important;
  }
  .painelVantagem .tituloComponente span {
    line-height: 1.7cap !important;
  }
  .painelFeedbackGridDepoimentos{
    gap: 20px; /* Espaçamento entre cards */
    padding: 20px;
  }
  .cardDepoimentoContainer {
    grid-template-columns: auto 1fr !important; /* Alinhar imagem e conteúdo lado a lado */
    gap: 20px !important;
    border-radius: 12px !important;
    padding: 20px !important;
  }
  .cardDepoimentoTextoContainer {
    border-radius: 10px !important;
    padding: 10px !important;
  }
  .cardDepoimentoTitulo {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
  }
  .cardDepoimentoTexto {
    font-size: 0.95rem !important;
    line-height: 1.5 !important;
  }
  .fotoTurmaContainer {
    width: calc(100% - 2rem) !important;
    height: 700px !important;
  }
  .fotoTurmaImagem {
    top: -600px !important;
  }
  .painelSobreContainerImagem{
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
  }
  .painelSobreImagem {
    width: 400px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }
  .painelSobreImagemFrame {
    width: 350px !important;
    height: 400px !important;
    top: 30% !important;
    left: 15% !important;
    border-radius: 20px !important;
  }

  .painelFilosofia{
    height: 600px !important;
  }

  .painelFilosofia .tituloPrincipal {
    font-size: 3cap !important;
    line-height: 1.4cap !important;
  }
  .painelFilosofia div {
    font-size: 1.45cap !important;
    line-height: 1.4cap !important;
  }
  .painelFilosofia .painelFilosofiaTexto{
    top: 50px !important;
    width: 50% !important;
    right: 10% !important;
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelFilosofia .painelFilosofiaContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    left: 5% !important;
  }
  .painelFilosofia .painelFilosofiaImagemFrame {
    width: 350px !important;
    height: 263px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;  
  }
  .painelFilosofia .painelFilosofiaImagem {
    width: 350px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelHistoria {
    height: 600px !important;
  }

  .painelHistoria .tituloPrincipal {
    font-size: 3cap !important;
    line-height: 1.4cap !important;
  }
  .painelHistoria div {
    font-size: 1.45cap !important;
    line-height: 1.4cap !important;
  }
  .painelHistoria .painelHistoriaTexto{
    top: 40px !important;
    width: 50% !important;
    right: 5% !important;
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelHistoria .painelHistoriaContainerImagem {
    width: 350px !important;
    height: auto !important;
    top: 25% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelHistoria .painelHistoriaImagemFrame {
    width: 350px !important;
    height: 263px !important;
    margin-top: 30px !important;
    margin-left: 10px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelHistoria .painelHistoriaImagem {
    width: 350px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelNecessidadesTitulo {
    top: 20px !important;
    width: 100% !important;
    font-size: 1.8cap !important;
  }

  .painelNecessidadesCardsContainer {
    gap: 1rem !important;
    width: 100% !important;
    padding: 1rem 0 !important;
    padding-top: 120px !important;
  }
  .painelNecessidadesCardsContainer > div {
    min-width: 135px !important;
    max-width: 160px !important;
  }


  .painelMetas {
    margin: 0 auto !important;
    height: 85vh !important;
    margin-bottom: 10vh !important;
  }
  .painelMetas .tituloComponente {
    font-size: 3cap !important;
    line-height: 1.4cap !important;
  }
  .painelMetas div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelMetas .painelMetasTexto{
    font-size: 1.55cap !important;
    line-height: 1.6cap !important;
  }
  .painelMetas .painelMetasContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    left: 10% !important;
  }
  .painelMetas .painelMetasImagemFrame {
    width: 300 !important;
    height: 400px !important;
    top: 30% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelMetas .painelMetasImagem {
    width: 300px !important;
    height: auto !important;
    top: 25% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelLivrosIntro {
    height: 100vh !important;
  }
  .painelLivrosIntroContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
  }
  .painelLivrosIntroImagemFrame {
    width: 500 !important;
    height: 288px !important;
    top: 30% !important;
    left: 10% !important;
    border-radius: 20px !important;
  }
  .painelLivrosIntroImagem {
    width: 500px !important;
    height: auto !important;
    top: 25% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }

  .painelLivrosBloco1 {
    width: 100% !important;
    height: 550px !important;
    margin-bottom: 5vh !important;
  }
  .painelLivrosBloco1 div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1Texto {
    top: 5cap !important;
    right: 10% !important;
    width: 50% !important;
    font-size: 1.45cap !important;
    line-height: 2cap !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1ContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 10% !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1ImagemFrame {
    width: 250px !important;
    height: 333px !important;
    top: 10% !important;
    left: 15% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco1 .painelLivrosBloco1Imagem {
    width: 250px !important;
    height: auto !important;
    top: 5% !important;
    left: 10% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco2 {
    width: 100% !important;
    height: 700px !important;
    margin-bottom: 10vh !important;
  }
  .painelLivrosBloco2 div {
    font-size: 1.55cap !important;
    line-height: 1.4cap !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2Texto {
    top: 2cap !important;
    right: 7% !important;
    width: 50% !important;
    font-size: 1.45cap !important;
    line-height: 2cap !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2ContainerImagem {
    width: 50% !important;
    height: 100% !important;
    top: 10% !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2ImagemFrame {
    width: 300px !important;
    height: 300px !important;
    top: 18% !important;
    left: 5% !important;
    border-radius: 20px !important;
  }
  .painelLivrosBloco2 .painelLivrosBloco2Imagem {
    width: 300px !important;
    height: auto !important;
    top: 15% !important;
    left: 0 !important;
    border-radius: 20px !important;
  }

  .painelGaleria {
    width: calc(100% - 2rem) !important;
    min-height: 100vh !important;
    height: 100vh !important;
  }

  .painelGaleria .gradient-esferaPequena {
    top: -20px !important;
  }

  .painelGaleriaTitulo {
    width: 45% !important;
    top: 10% !important;
    font-size: 4cap !important;
  }
  .painelGaleriaCarrosselWrapper {
    top: 30% !important;
    width: 100% !important;
    height: 480px !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    border-radius: 20px !important;
  }

  .painelContatosDados
  {
    min-height: 20vh !important;
  }
}


















@media (max-width: 768px) {
  .painelFeedbackGridDepoimentos {
    grid-template-columns: 1fr !important; /* 1 coluna em dispositivos menores */
  }
}











/* TODO: Painel Filosofia */
@media screen and (width < 1540) and (width >= 1280) {
  .titulo {
    font-size: clamp(15px, 2.2vw, 30px) !important;
  }

  .texto {
    font-size: clamp(1.2rem, 1.3vw, 1.55cap) !important;
    line-height: clamp(1.3rem, 1.43vw, 1.6cap) !important;
  }
}

@media screen and (width < 1280) {
  .component {
    height: 75vh;
    margin-bottom: 10vh;
  }

  .component div {
    font-size: 1.75cap;
    line-height: 1.6cap;
  }

  .texto {
    top: 60px;
    width: 50%;
    right: 10%;
    font-size: clamp(1.1rem, 1.2vw, 1.55cap) !important;
    line-height: clamp(1.25rem, 1.35vw, 1.6cap) !important;
  }

  .containerImagem {
    width: 40%;
  }

  .frame {
    width: 300px;
    height: 225px !important;
    top: 40%;
    left: 3%;
  }

  .imagem {
    position: absolute;
    top: 38%;
    width: 300px;
    height: auto;
  }
}




/* TODO: Painel Historia */
@media screen and (width < 1540) and (width >= 1280) {
  .texto {
    right: 5%;
    font-size: clamp(1.2rem, 1.3vw, 1.55cap) !important;
    line-height: clamp(1.3rem, 1.43vw, 1.6cap) !important;
  }
}

@media screen and (width < 1280) {
  .component {
    height: 75vh;
    margin-bottom: 10vh;
  }

  .component div {
    font-size: 1.75cap;
    line-height: 1.6cap;
  }

  .texto {
    top: 60px;
    width: 50%;
    right: 5%;
    font-size: clamp(1.1rem, 1.2vw, 1.55cap) !important;
    line-height: clamp(1.25rem, 1.35vw, 1.6cap) !important;
  }

  .containerImagem {
    width: 40%;
  }

  .frame {
    width: 300px;
    height: 225px !important;
    top: 40%;
    left: 3%;
  }

  .imagem {
    position: absolute;
    top: 38%;
    width: 300px;
    height: auto;
  }
}