@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #1e40af;
  --background-color-a: #dddddd;
  --background-color-b: #ffffff;
  --accent: #ff0000;
  --text: #1f2937;
  --text-menubar: #444444;
  --text-menubar-button: #dddddd;
  --logo-link-color: #191919;
  --shadow-color: #818181;
  --button-color: #969696;
  --button-background-color: #000000;
  --bg-menubar: #dddddd;
  --bg-menubar-button: #969696;
  --bg-menucontainer-color-a: #818181;
  --bg-menucontainer-color-b: #000000;
  --faded-circle-bg: #818181;
  --gradient-circle-bg: #818181;
  --home-card-title-font-color: #ffffff;
  --home-card-font-color: #ff0000;
  --home-card-bg-color: #949494;
  --home-card-borders-color: #ff0000;
  --home-card-icon-bg-color: #dddddd;
  --home-card-icon-color: #ff0000;
  --home-objectives-secondary-title-color: #444444;
  --home-imagecard-label-color: #1f2937;
  --home-imagecard-label-bg-color: #ffffff;
  --home-testimonial-picture-border-color: #ff0000;
  --home-testimonial-title-color: #818181;
  --home-testimonial-subtitle-color: #ffffff;
  --contact-bottom-gradient-color: #818181;
}
  

[data-theme="dark"] {
  --primary: #3b82f6;
  --secondary: #1e40af;
  --background-color-a: #1f2937;
  --background-color-b: #1a62c0;
  --accent: #f59e0b;
  --text: #f9fafb;
  --text-menubar: #dddddd;
  --text-menubar-button: #3f3f3f;
  --logo-link-color: #f9fafb;
  --shadow-color: #cccccc;
  --button-color: #dddddd;
  --button-background-color: #0d0d33;
  --bg-menubar: #222222;
  --bg-menubar-button: #dddddd;
  --bg-menucontainer-color-a: #4d4d4d;
  --bg-menucontainer-color-b: #0d0d33;
  --faded-circle-bg: #cfe5ff;
  --gradient-circle-bg: #cfe5ff;
  --home-card-title-font-color: #dddddd;
  --home-card-font-color: #f59e0b;
  --home-card-bg-color: #1f2937;
  --home-card-borders-color: #ffffff;
  --home-card-icon-bg-color: #818181;
  --home-card-icon-color: #ffffff;
  --home-objectives-secondary-title-color: #dddddd;
  --home-imagecard-label-color: #1f2937;
  --home-imagecard-label-bg-color: #ffffff;
  --home-testimonial-picture-border-color: #ff0000;
  --home-testimonial-title-color: #ffffff;
  --home-testimonial-subtitle-color: #000000;
  --contact-bottom-gradient-color: #53acff;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  color: var(--text);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: radial-gradient(
    circle at center,
    color-mix(in srgb, var(--background-color-b) 100%, transparent) 25%,
    color-mix(in srgb, var(--background-color-a) 100%, transparent) 100%
  );
  background-attachment: fixed;
  background-size: cover;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  font-family: "Open Sans", sans-serif;
}

/* Estilo para as seções */
section {
  display: flex;
  flex-direction: column; /* Colocar os filhos em uma coluna */
  justify-content: center; /* Centralizar o conteúdo verticalmente */
  align-items: center; /* Centralizar o conteúdo horizontalmente */
}

section > div {
  width: 100%;
}