/* Configuração do componente */
.component {
  display: flex;
  flex-direction: column; /* Posiciona os componentes verticalmente */
  width: 100%; /* Garante que o componente ocupe toda a largura */
  position: relative; /* Garante que elementos absolutos sejam posicionados em relação ao pai */
  min-height: 100vh; /* Garante que o componente tenha altura mínima baseada no viewport */
}

.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}
