.capa {
  position: relative;
  height: 850px;
}

.textBlock {
  position: relative;
  line-height: 5cap;
  z-index: 2000;
}

.paragrafo {
  margin-top: 25px;
  line-height: 25px;
}

.h1 {
  font-size: 4cap;
}

.shadow {
  text-shadow: 3px 3px 4px var(--shadow-color);
}