.component {
  height: 750px;
}

.textBlock {
  width: 30%;
  margin-top: calc(750px * .35);
  margin-left: 10%;
  line-height: 5cap;
  z-index: 2000;
}

.buttonContainer {
  width: 30%;
  margin-top: 20px;
  margin-left: 10%;
}

@media screen and (width <= 1540) and (width > 1440) {

}

@media screen and (width <= 1440) and (width > 1366) {

}

@media screen and (width <= 1366) and (width > 1280) {

}

@media screen and (width <= 1280) and (width > 800) {

}

@media screen and (width <= 800) and (width > 500) {

}

@media screen and (width <= 500) and (width > 400) {
  .component {
    height: 700px;
  }

  .textBlock {
    width: 90%;
    margin-top: calc(50px * .35);
    margin-left: 0;
    line-height: 2.5cap;
    z-index: 2000;
  }

  .buttonContainer {
    position: absolute;
    width: 35%;
    top: 0;
    right: 0;
  }
}

@media screen and (width <= 400) {
  .component {
    height: 700px;
  }

  .textBlock {
    width: 90%;
    margin-top: calc(50px * .35);
    margin-left: 0;
    line-height: 2.5cap;
    z-index: 2000;
  }

  .buttonContainer {
    border: 1px solid red;
    width: 150px;
    margin-left: 100px;
    margin-top: 15px;
  }
}