.component {
  height: 750px;
}

.textBlock {
  width: 30%;
  margin-top: calc(750px * .35);
  margin-left: 10%;
  line-height: 5cap;
  z-index: 2000;
}

.buttonContainer {
  width: 30%;
  margin-top: 20px;
  margin-left: 10%;
}

.tituloSubtitulo {
  margin-top: 20px;
}