/* Configuração do componente */
.component {
  border: 4px solid lime;
  display: flex;
  flex-direction: column; /* Posiciona os componentes verticalmente */
  width: calc(100% - 2rem);
  max-width: 1400px;
  position: relative; /* Garante que elementos absolutos sejam posicionados em relação ao pai */
  min-height: 100vh; /* Garante que o componente tenha altura mínima baseada no viewport */
  padding-top: 20vh;
}

/* Classes comuns */
.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}